@font-face {
  font-family: 'madina';
  src: local('madina'),
    url('font/uthmanic_hafs_ver09.otf') format('opentype');
}
body {
    font-size: 14pt;
    line-height: ;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    width: 100%;
    text-align: ;
    margin: 0px;
    color: #666666;
    direction: ;
}
p {
    padding-right: 4px;
    padding-left: 4px;
}
a {
    color: #666666;
    text-decoration: none;
    font-weight: bold;
    font-size: 14pt;
}
a:visited {
    color: #666666;
    text-decoration: none;
    font-weight: bold;
}
h1 {
    font-family: "Lucida Sans Unicode";
    font-size: 18pt;
    color: #474747;
    font-weight: regular;
}
h2 {
    ffont-family: "Lucida Sans Unicode";
    font-size: 14pt;
    color: #474747;
    font-weight: regular;
}
h3 {
    font-family: "Lucida Sans Unicode";
    font-size: 12pt;
    color: #474747;
    font-weight: bold;
}
li {
    font-family: "Lucida Sans Unicode";
    font-size: 11pt;
    font-style: normal;
    line-height: normal;
    padding: 0px;
    /*list-style-type: square;*/
    margin-bottom: 10px;
    color: #666666;
}
.itemimage {
    border: solid 0px #aaa;
    max-width: 100px;
    width: expression(this.width > 100 ? 100: true);
    vertical-align: middle;
}
.iimage {
    border: solid 0px #aaa;
    max-width: 320px;
    width: expression(this.width > 320 ? 320: true);
    vertical-align: middle;
}
ol {
    list-style-type: decimal;
}
ul {
    list-style-type: square;
}
/*colormenucssaddition*/

.colormenupageedit tr {
    max-height: 86px;
    height: auto;
}
.colormenuimage {
    border: solid 0px #12181c;
    max-width: 50px;
    width: expression(this.width > 100 ? 100: true);
    vertical-align: middle;
    padding: 15px 0 15px 0;
    height: 50px;
}
.colormenuitemdescription {
    font-size: 12px;
    font-family: arial, Helvetica, sans-serif;
    color: white;
    line-height: 16px;
    font-weight: 100;
}
.colormenuitemtitle {
    font-size: 16px;
    font-family: arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    line-height: 16px;
    display: block;
    margin-top: -23px;
    padding-top: 23px;
    margin-bottom: -39px;
    padding-bottom: 39px;
    margin-left: -25%;
    padding-left: 25%;
    position: relative;
    z-index: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a.colormenuitemtitle:visited {
    color: white;
}
.iconmenutitle {
    color: #666666;
    font-size: 14pt;
}
/*listmenucssaddition2*/

body>.listmenuPanel {
    max-width: 100%;
    background: #ffffff;
    border-bottom: solid 1px #9e9e9e;
}
#wrap-title{
    min-height: 80px;
    background: #ffffff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
#wrap-title b{
    vertical-align: middle;
}
.listmenuList {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.listmenuItem {
    font-size: 16px;
    font-family: arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #858282;
    margin: 0px;
    padding: 0px;
    border-top: solid 1px #9e9e9e;
    text-align: left;
}
.listmenuTitle div:last-child{
    height: 56px;
    display: table-cell;
    vertical-align: middle;
}
.listmenuImageContainer {
    float: left;
}
.listmenuItem .listmenuImage {
    vertical-align: middle;
    max-height: 40px;
    max-width: 40px;
    margin: 8px;
    display: block;
}
.listmenu-title {
    margin: 15px 54px 0;
    font-size: 19px;
    font-family: arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #858282;
}
.listmenuTitle .listmenu-title{
    margin: 0;
}
.listmenuItem .listmenuTitle {
    padding: 5px;
    display: block;
    text-decoration: none;
    overflow: hidden;
}
/*magazinemenucssaddition2*/

.magazinemenucontainer {
    padding: 0px;
    margin: 0px;
    list-style: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
.magazinemenucontainer * {
    vertical-align: middle;
}
.magazinemenuitem {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    max-height: 86px;
}
.magazinemenulink {
    display: block;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    background: #ffffff;
    opacity: 0.9;
}
.magazinemenuimgcontainer {
    display: inline-block;
    width: 75px;
}
.magazinemenuitemimage {
    vertical-align: middle;
    max-height: 75px;
    max-width: 75px;
    margin: 0 8px 0 8px;
    display: block;
    padding: 9px 0 8px 0;
}
.magazinemenutextcontainer {
    display: inline-block;
    max-width: 75%;
}
.magazinemenutext1 {
    margin: 10px 0 0;
    font-size: 16px;
    line-height: 15px;
    font-weight: bold;
    color: #000000;
    font-family: STHeitiTC-Light, Helvetica;
}
.magazinemenutext2 {
    margin: 0 0 10px 0;
    font-size: 12px;
    font-family: STHeitiTC-Light, Helvetica;
    color: #696969;
    line-height: 16px;
    font-weight: 100;
}
.magazinemenuimgarrow {
    vertical-align: middle;
    padding: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
/*audioplaycssaddition*/

.audio-header {
    azimuthfont-family: roboto, Verdana, sans-serif;
    padding: 15px 10px;
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #f2f2f2 0%, #dddfe1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #dddfe1));
    background: -webkit-linear-gradient(top, #f2f2f2 0%, #dddfe1 100%);
    background: -o-linear-gradient(top, #f2f2f2 0%, #dddfe1 100%);
    background: -ms-linear-gradient(top, #f2f2f2 0%, #dddfe1 100%);
    background: linear-gradient(to bottom, #f2f2f2 0%, #dddfe1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dddfe1', GradientType=0);
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    margin-top: 46px;
}
.audio-header .streamtitle {
    background-color: rgb(148, 2, 210); 
    color: #fff; 
    text-align: center;
    font-size: 25px;
}
.audio-header .trackname {
    background-color: rgb(148, 2, 210);
    text-align: center;
    color: #fff;
    font-size: 22px;
}
.cover-image {
    padding: 0px;
    background: #fff;
}
.audio-controls {
    position: fixed;
    bottom: 0;
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #f2f2f2 0%, #dddfe1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #dddfe1));
    background: -webkit-linear-gradient(top, #f2f2f2 0%, #dddfe1 100%);
    background: -o-linear-gradient(top, #f2f2f2 0%, #dddfe1 100%);
    background: -ms-linear-gradient(top, #f2f2f2 0%, #dddfe1 100%);
    background: linear-gradient(to bottom, #f2f2f2 0%, #dddfe1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dddfe1', GradientType=0);
    height: 30px;
    width: 100%;
    text-align: center;
    padding: 30px 0px 10px 0;
}
.audio-controls a {
    background: #9fa3a6;
    border: solid 1px #939799;
    padding: 10px 20px;
    margin: 0 5px;
    color: #fff;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
@media only screen and (orientation: landscape) {
    .audio-controls {
        position: relative;
        margin-top: -90px;
    }
}
@media screen and (min-height: 290px) {
    .audio-controls {
        position: fixed;
        margin-top: 0;
    }
}
/*menucssaddition2*/

table.menupagetypelistcontainer a {
    margin: -23px 0;
    padding: 23px 0;
    display: block;
    text-align: left;
    font-size: 17px;
    font-family: ;
    font-weight: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menucontainer {
    padding: 0px;
    margin: 0px;
    list-style: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
.menucontainer * {
    vertical-align: middle;
}
.menuitem {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 2px rgba(172, 171, 171, 1);
    max-height: 86px;
}
.menulink {
    display: block;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}
.menuimgcontainer {
    display: inline-block;
}
.menuimage {
    vertical-align: middle;
    height: 54px;
    margin: 4px 8px 4px 0px;
    display: block;
    padding-left: 12px;
}
.menutextcontainer {
    display: inline-block;
    max-width: 75%;
}
.menutext1 {
    margin: 0;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    color: #666;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
.menuimgarrow {
    vertical-align: middle;
    padding: 10px 10px 10px 0;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
/*contentmenucssaddition2*/

.contentmenucontainer {
    padding: 0px;
    margin: 0px;
    list-style: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    margin-top: 49px;
}
.contentmenucontainer * {
    vertical-align: middle;
}
.contentmenuitem {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    border-top: solid 1px #12181c;
    max-height: 86px;
    background: rgb(64, 82, 97);
    background: -moz-linear-gradient(top, rgba(64, 82, 97, 1) 0%, rgba(55, 71, 83, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(64, 82, 97, 1)), color-stop(100%, rgba(55, 71, 83, 1)));
    background: -webkit-linear-gradient(top, rgba(64, 82, 97, 1) 0%, rgba(55, 71, 83, 1) 100%);
    background: -o-linear-gradient(top, rgba(64, 82, 97, 1) 0%, rgba(55, 71, 83, 1) 100%);
    background: -ms-linear-gradient(top, rgba(64, 82, 97, 1) 0%, rgba(55, 71, 83, 1) 100%);
    background: linear-gradient(to bottom, rgba(64, 82, 97, 1) 0%, rgba(55, 71, 83, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#405261', endColorstr='#374753', GradientType=0);
}
.contentmenulink {
    display: block;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}
.contentmenuimgcontainer {
    display: inline-block;
}
.contentmenuitemimage {
    vertical-align: middle;
    height: 64px;
    max-width: 64px;
    margin: 0 8px 0 8px;
    display: block;
    padding: 5px 0 5px 0;
}
.contentmenutextcontainer {
    display: inline-block;
    max-width: 75%;
}
.contentmenutext1 {
    margin: 15px 0 0;
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
}
.contentmenutext2 {
    margin: 0 0 10px 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    line-height: 16px;
    font-weight: 100;
}
.contentmenuimgarrow {
    vertical-align: middle;
    padding: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
/*webkitmenucssaddition*/

.detailspanel {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border: solid 1px #aaa;
    padding: 20px;
    background-color: #ffffff;
}
li>a[selected], li>a:active {
    background-color: blue !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    color: #FFFFFF !important;
    background-image: url(listArrowSel.png) !important;
}
li>a[selected="progress"] {
    background-repeat: no-repeat !important;
    background-position: right center !important;
    background-image: url(loading.gif) !important;
}
body>.WebKitPanel {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body>.toolbar {
    text-align: center;
}
.WebKitList {
    position: relative;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-align: center;
    font-size: 16px;
    margin: 5px 0 15px 0;
    padding: 0;
    list-style: none;
}
.WebKitItem {
    position: relative;
    min-height: 42px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    text-align: right;
    margin: 0;
    padding: 0;
    border-width: 0;
}
.WebKitPanel>ul>li:first-child a {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
}
.WebKitPanel>ul>li:last-child a {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-width: 1px !important;
}
.WebKitTitle {
    text-align: left;
    padding: 12px 0 12px 10px;
    background: url(listArrow.png) center right no-repeat;
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #6f6f6f;
    font-weight: bold;
    font-size: 17px;
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    margin-top: -1px;
    background-color: #fff;
}
.WebKitPanel>ul li:last-child {
    border-bottom: none !important;
}
.WebKitPanel>ul>li:first-child a {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
}
.WebKitPanel>ul>li:last-child a {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-width: 1px !important;
}
.WebKitImage {
    vertical-align: middle;
    margin-left: -4px;
    margin-right: 4px;
    height: 24px;
}
.welcome-title {
    margin: 11px;
    font-size: 50px;
    font-family: arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(148, 2, 210);
}
.audio-controls .loop-button {
    background: rgb(148, 2, 210);
}
.loop-button-active {
    background: #9fa3a6;
}
#looplink {
    padding: 10px 25px;
}
.audio-controls a img {
    height: 30px;
    position: absolute;
    margin-left: -15px;
    margin-top: -3px;
}
#quran li {
    list-style: none;
    font-size: 50px;
    font-family: madina;
    color: #000;
}
#quran {
    background: #fff;
    padding: 15px;
    text-align: right;
    margin-bottom: 90px;
}
#quran ul {
    margin: 0;
    padding: 0;
}
.translations {
    font-size: 0.4em;
    text-align: left;
    color: #666;
    border-bottom: 1px solid #bbb;
}
#headerimage {
    width: 70%;
    max-width: 430px;
    margin: auto;
    display: block;
    padding: 5px 0 0;
}
.translations:first-letter {
    text-transform: capitalize;
}
#current-time {
    position: absolute;
    margin-top: -40px;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#time-total {
    position: absolute;
    right: 0;
    margin-top: -40px;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#wrap-audio-bar {
    position: absolute;
    width: 96%;
    top: 6px;
    height: 5px;
    left: 2%;
}
#audio-bar {
    background: #ddd;
    width: 0%;
    height: 5px;
    position: absolute;
}
.slider {
    -webkit-appearance: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 100%;
    margin: 0;
    height: 5px;
    position: absolute;
    left: 0;
    outline: 1px solid #ddd;
    box-shadow: 0 0 30px #fff;
    background: rgba(64, 82, 97, 1);
}
.slider:focus {
    outline-offset: 0;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(226, 226, 226);
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0 0 30px #fff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: rgb(226, 226, 226);
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0 0 30px #fff;
    cursor: pointer;
}

.spinner {
  text-align: center;
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: rgb(148, 2, 210);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.media {
    position: relative;
}
.media .spinner {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    left: 50%;
    margin-left: -17px;
}
.header-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(148, 2, 210);
    z-index: 11111;
}
.header-head table td {
    width: 50px;
    text-align: center;
    padding: 10px 0;
}
.header-head table td img {
    width: 30px;
    vertical-align: middle;
}
.header-head table {
    width: 100%;
    color: #ffffff;
    font-weight: bold;
}
#running-text {
    font-size: 20px;
    vertical-align: middle;
}
.header-head table td a.bordered {
    border: solid 1px #939799;
    padding: 14px 4px;
    font-size: 4px;
    vertical-align: middle;
    border-radius: 3px;
}
.header-head table td a.bordered  img{
    transform: rotate(90deg);
}
#setting-menu {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    min-width: 220px;
    background: #fff;
    z-index: 111111111;
}
#setting-menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
#setting-menu ul li {
    list-style: none;
    margin: 0;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}
#setting-menu ul li:last-child {
    border-bottom: 0;
}
#setting-menu input {
    margin-right: 8px;
}
#setting-menu li label{
    color: #666666;
    text-decoration: none;
    font-weight: bold;
    font-size: 14pt;
}